body {
    margin: 0;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #000000;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

body > h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: url(//toolserver.org/~soxred93/iphonebackground.png)#6d84a2 repeat-x;  
    border-bottom: 1px solid #2d3642;
}

h4 {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #000000;
    background: #FFD700;  
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: #336699;  
    border-bottom: 1px solid #2d3642;
}

p {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    line-height: 5px;
    font-size: 5px;
    font-weight: bold;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    color: #FFFFFF;
    background: #FFFFFF;  
    border-bottom: 1px solid #FFFFFF;
}

.button {
    position: absolute;
    top: 8px;
    right: 6px;
    -webkit-border-image: url(//toolserver.org/~soxred93/iPhoneButton.png) 0 5 0 5;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 0;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}

#homeButton {
    display: none;
    left: 6px;
    right: auto;
    -webkit-border-image: url(//toolserver.org/~soxred93/iPhoneBackButton.png) 0 8 0 14;
    border-width: 0 8px 0 14px;
}

.goButton {
    -webkit-border-image: url(//toolserver.org/~soxred93/iPhoneGoButton.png) 0 5 0 5;
    border-width: 0 5px;
}

.graph {
    /* for firefox, safari, chrome, etc. */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    /* for ie */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

body > div,
body > form,
body > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 41px;
    width: 100%;
    min-height: 418px;
    margin: 0;
    padding: 0;
}

body > *[selected="true"] {
    display: block;
}

body > ul > li {
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    background: url(//toolserver.org/~soxred93/iPhoneArrow.png) no-repeat right center;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

body > ul > tr {
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

body > ul > li > a {
    display: block;
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    color: inherit;
}

body > ul > li.nolink {
    display: block;
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    background: none;
    color: inherit;
}

tr.months {
    display: block;
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    border-bottom: 1px solid #E0E0E0;
    background: none;
    color: inherit;
}

body > ul > li.semilink {
    display: block;
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    color: inherit;
}
    
.panel {
    box-sizing: border-box;
    padding: 10px;
    background: #c8c8c8 url(//toolserver.org/~soxred93/pinstripes.png);
}

/************************************************************************************************/

.dialog {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 468px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
    text-align: right;
}

fieldset {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: none;
    padding: 10px 6px;
    background: url(//toolserver.org/~soxred93/iPhoneToolbar.png) #7388a5 repeat-x;
}

////toolserver.org/~soxred93/images/gradient.php?color1=50729F&color2=3063A5&size=20

fieldset > h1 {
    margin: 0 10px 0 10px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-align: center;
}

label {
    position: absolute;
    margin: 14px 0 0 6px;
    font-size: 14px;
    color: #BBBBBB;
}

input {
    box-sizing: border-box;
    width: 100%;
    margin: 6px 0 0 0;
    padding: 6px 6px 6px 44px;
    font-size: 16px;
    font-weight: normal;
}

div.bar { height: 10px; }
div.outer_bar {
	border: 1px solid #444;
	float: left;
	//margin: .3em 0;
	font-size:70%;
	height:10px;
	_width:0;		/* MSIE underscore hack */
}
table.months {
	padding-top: 2em;
}
td.date {
	padding: 0 1em 0 0;
	font-weight: bold;
}
table.months td {
	font-size: 75%;
	height:10px;
}
