body {
	/* background-image:url("//toolserver.org/~soxred93/images/bgpattern.png"); */
	/* background-attachment:fixed; */
	font-family: frutiger linotype,lucida grande,helvetica,arial,sans-serif;
	font-size: 85%;
	margin: 0;
	padding: 4px 1em 4px 1em;
}
#wrap{
	background:none;
	margin:0 auto;
	text-align:left;	
	width:96%;
}
#header {
	padding: 0px 20px 4px 20px;
	//border: 1px solid #1234aa;
	//border-bottom: none;
	//background-color: #000066;
	/* background-image:url("images/gradient.php?color1=EEEEEE&color2=D0E4EE&size=20"); */
	color: #000033;
}
#content {
	background: none;
	padding: 20px;
	//border: 1px solid #1234aa; 
	//border-top: 5px solid #ff6600;
	//border-bottom:none; 
	//background-color: #e6e6e6;
	//background-image:url("images/gradient3.png");
	background-image:url("images/gradient.php?color1=EEEEEE&color2=D0E4EE&size=200");
	background-repeat:repeat-x;
	background-color: #D0E4EE;
}
#footer {
	padding: 2px 20px 20px 20px;
	height: 40px;
	/* background-image:url("//toolserver.org/~soxred93/images/gradient4.png"); */
	background-image:url("images/gradient.php?color1=D0E4EE&color2=EAEAEA&size=40");
	background-repeat:repeat-x;
	background-color: #EAEAEA;
	//background-color: #000066;
	color: rgb(34, 34, 34);
	valign: top;
	//border: 1px solid #1234aa; 
	border-top: none;
}
.footertext {
	//margin: auto 0;
	//vertical-align: 50%;
}
h2 {
	border-bottom: 2px solid #aaaaaa;
}
h3 {
	border-bottom: 2px solid #aaaaaa;
}
#nav {
	font-size: 75%
	text-align: center;
	border-bottom: 2px solid #aaaaaa;
}
.container
{
	text-align:center;
}
.center
{
	margin-left:auto;
	margin-right:auto;
	/* width:70%; */
	/* text-align:left; */
}
img {
	border: none;
}
.alert {
	margin:0; 
	background:#F99; 
	font-size:120%; 
	font-weight:bold; 
	border:1px solid #a3bfb1; 
	text-align:left; 
	color:#000; 
	padding:0.2em 0.4em;
	vertical-align: top;
	margin-bottom:10px;
}
.notice {
	margin:0; 
	background:#9CC; 
	font-size:120%; 
	font-weight:bold; 
	border:1px solid #a3bfb1; 
	text-align:left; 
	color:#000; 
	padding:0.2em 0.4em;
	vertical-align: top;
	margin-bottom:10px;
}
input{
border-width:1px;
border-color:lightgrey;
border-style:solid;
background-color:#f1f1f1;
}

div.bar { height: 10px; }
div.outer_bar {
	border: 1px solid #444;
	float: left;
	//margin: .3em 0;
	font-size:70%;
	height:10px;
	_width:0;		/* MSIE underscore hack */
}
table.months {
	padding-top: 2em;
}
td.date {
	padding: 0 1em 0 0;
	font-weight: bold;
}
table.months td {
	font-size: 75%;
	height:10px;
	}
div.red, div.green {
	height:1em;
	float:left;
}

div.topN {
	float: left;
	min-height: 30em;           /* otherwise, they get ALL jumbled up */
}
table.topN {
	float: left;
	border: 1px solid black;
}
table.topN th {
	background-color: #000;
	color: #fff;
}
table.topN td {
	padding: .1em .3em;
}

.wikitable,
.prettytable {
    margin: 1em 1em 1em 0;
    //background: #f9f9f9;
    //border: 1px #aaa solid;
}
.wikitable th, .wikitable td,
.prettytable th, .prettytable td {
    border: 1px #aaa solid;
    padding: 0.5em;
    background: #f9f9f9;
}
.wikitable th,
.prettytable th {
    background: #f2f2f2;
    text-align: center;
}

.dup {font-weight:bold;color:red}
.iffy1 {font-style:italic}
.iffy2 {text-decoration:underline}
#popup {
    /* Necessary: */
    position: absolute;
    display: none;
    z-index: 10;

    /* Additional styling: */
    //width: 200px;
    font-size: 80%;
    background-color: #eee;
    border: 1px dotted #ece;
    opacity: .90;
    /* filter: alpha(opacity=90); */
  }

